@use "../abstracts" as *;

.clr-white {
  color: $clr-white;
}

.clr-grey {
  color: $clr-grey;
}

.clr-black {
  color: $clr-black;
}

.clr-dark-grey {
  color: $clr-dark-grey;
}

.clr-green {
  color: $clr-green;
}
