@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: $fs-400;
  color: $clr-white;
  background-color: $clr-black;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
}
